.answer-buttons {
  width: 40%;
  display: flex;
  margin-top: 0.5rem;
}

.answer-message {
  font-family: 'Gloria Hallelujah', cursive;
}

.arrow {
  width: 40px;
  height: 40px;
}

.arrow:hover {
  cursor: pointer;
}

.buttons-left,
.buttons-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.buttons-left {
  margin-right: 0.5rem;
}

.buttons-right {
  margin-left: 0.5rem;
}

.card-display {
  background-color: #FFFEF9;
  height: 100%;
  width: 40%;
  border-radius: 20px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-shadow: 10px 5px 5px #8B7E96;
  border: 1px solid #8B7E96;
  margin-left: 4rem;
  margin-right: 2rem;
}

.character-button {
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  background-color: #FFFEF9;
  border: 2px solid #8B7E96;
}

.character-button:hover,
.restart:hover,
.home:hover {
  border: 2px solid #E3A801;
  cursor: pointer;
  background-color: #8DBBD0;
}

/* .correct,
.correct:hover {
  background-color: #60BA4F;
} */

.game-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  align-items: center;
}

/* .incorrect,
.incorrect:hover {
  background-color: #E62A2A;
} */

.nav-buttons {
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: space-between;
}

.restart,
.home {
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #FFFEF9;
  border: 2px solid #8B7E96;
}

.score-header {
  text-align: center;
  margin-top: 5rem;
  font-family: 'Gloria Hallelujah', cursive;
}
