.button-link {
  align-self: center;
}

.frame {
  align-self: center;
  max-width: 300px;
  min-width: 300px;
  margin-left: 1.5rem;
}

.home-header {
  text-align: center;
  margin-top: 5rem;
  font-family: 'Gloria Hallelujah', cursive;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}

.start-button,
.how-button {
  padding: 0.5rem 3rem;
  border-radius: 5px;
  margin-top: 1rem;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  background-color: #FFFEF9;
  border: 2px solid #8B7E96;
}

.start-button:hover,
.how-button:hover {
  border: 2px solid #E3A801;
  cursor: pointer;
  background-color: #8DBBD0;
}

@media screen and (max-width: 550px) {
  .home-header {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 280px) {
  .frame {
    max-width: 200px;
    min-width: 200px;
  }
}
