h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

hr {
  width: 40%;
  border: 0;
  height: 0;
  border-top: 5px solid #80B3CB;
  border-radius: 5px;
}

.app-header {
  border-bottom: solid 5px #E3A801;
  padding: 0.5rem;
  text-align: center;
  background-color: #FFFEF9;
  width: 100%;
}

.friends-title {
  width: 150px;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }

  hr {
    width: 50%;
  }

  .friends-title {
    width: 100px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .trivia-title {
    font-size: 1.25rem;
  }
}
